{% extends 'events/base.html' %}

{% block content %}

    <center>
        {% if searched %}
            <h1>Your searched for {{ searched }}</h1></br>
            {% if contains %}
                {% for venue in venues  %}
                <a href="{% url 'show-venue' venue.id %}">{{venue}}</a></br>
            {% endfor %}
            {% else %}
                <h1>No Venues based on your search</h1></br>
            {% endif %}
        {% else %}
            <h1>You forgot to search for a Venue</h1>
        {% endif %}
    </center>
{% endblock %}