{% extends 'events/base.html' %}

{% block content %}
    <center>
        <h1>Venues...</h1></br>
        {% if name %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link">Order by:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'list-venues' %}?page={{ venues.number }}&name">Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-venues' %}?page={{ venues.number }}&address">Address</a>
                </li>
            </ul>
        {% elif address %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link">Order by:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'list-venues' %}?page={{ venues.number }}&name">Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'list-venues' %}?page={{ venues.number }}&address">Address</a>
                </li>
            </ul>
        {% else %}
        <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link">Order by:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'list-venues' %}?page={{ venues.number }}&name">Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-venues' %}?page={{ venues.number }}&address">Address</a>
                </li>
            </ul>
        {% endif %} 
        </br>
        <table class="table table-hover table-striped table-bordered">
            
            {% comment %} {% for venue in venue_list %}
            <tr>
                <td>
                    <a href="{% url 'show-venue' venue.id %}"> {{venue}} </a> </br>
                </td>
                <td align="right">
                    <a href=" {% url 'update-venue' venue.id %} " class="btn btn-outline-secondary btn-sm">Update</a>
                    <a href=" {% url 'delete-venue' venue.id %} " class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr> {% endcomment %}

            {% for venue in venues %}
            <tr>
                <td>
                    <a href="{% url 'show-venue' venue.id %}"> {{venue}} </a> </br>
                </td>
                {% if request.user.is_authenticated %}
                    <td align="right">
                        <a href=" {% url 'update-venue' venue.id %} " class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href=" {% url 'delete-venue' venue.id %} " class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                {% endif %}
            </tr>

            {% endfor %}
        </table>
    </center> 
    </br></br>

    <!--
    {{ venues }}
    </br>
    Has Previous: {{ venues.has_previous }} 
    </br>
    Has Next: {{ venues.has_next }}
    </br>
    Current Page: {{ venues.number }}
    </br>
    Number of pages: {{ venues.paginator.num_pages }}
    -->

    <hr></br></br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if venues.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First </a></li> &nbsp;
                <li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}"> Previous </a></li> &nbsp;
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo First </a></li> &nbsp;
                <li class="page-item disabled"><a class="page-link" href="#"> Previous </a></li> &nbsp;
            {% endif %}

            <!-- loop through all pages to create the pagination number -->
            {% for i in nums  %}
            {% if  venues.has_next == False and forloop.last%}
                <li class="page-item disabled"><a href="?page={{forloop.counter}}" class="page-link"> {{ forloop.counter }} </a></li>
            {% elif venues.has_previous == False and forloop.first%}
                <li class="page-item disabled"><a href="?page={{forloop.counter}}" class="page-link"> {{ forloop.counter }} </a></li>
            {% else %}
                <li class="page-item"><a href="?page={{forloop.counter}}" class="page-link"> {{ forloop.counter }} </a></li>
            {% endif %}
            {% endfor %}
            <!--<li class="page-item disabled"><a href="#" class="page-link">Page {{ venues.number }} of {{ venues.paginator.num_pages }}</a></li> &nbsp;-->
            
            {% if venues.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ venues.next_page_number }}">Next</a></li> &nbsp;
                <li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}"> Last &raquo </a></li> &nbsp;
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li> &nbsp;
                <li class="page-item disabled"><a class="page-link" href="#"> Last &raquo </a></li> &nbsp;
            {% endif %}
        </ul>
    </nav>
{% endblock %}